<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartElderlyCareApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="35">

        <!-- 主界面（启动页）- 检查登录状态 -->
        <activity
            android:name=".component.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 登录页面 -->
        <activity
            android:name=".component.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".component.PostDetailActivity"
            android:exported="false" />
        <activity
            android:name=".component.ImagePreviewActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".component.CreatePostActivity"
            android:exported="false" />
        <activity
            android:name=".component.CommunityActivity"
            android:exported="false" />
        <activity
            android:name=".component.CheckinActivity"
            android:exported="false" />
        <activity
            android:name=".component.MineActivity"
            android:exported="false" />
        <activity
            android:name=".component.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".component.MyPostsActivity"
            android:exported="false" />
        <activity
            android:name=".component.MyFavoritesActivity"
            android:exported="false" />
        <activity
            android:name=".component.AfterlifeCustomActivity"
            android:exported="false" />
        <activity
            android:name=".component.StarFieldActivity"
            android:exported="false" />
        <activity
            android:name=".component.StarMemorialComposeActivity"
            android:exported="false" />
    </application>

</manifest>
